@model WebComputadorasG3.Models.Usuario

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Usuario</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TipoDocumento)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TipoDocumento)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NumDocumento)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NumDocumento)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Direccion)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Direccion)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Telefono)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Telefono)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UsuarioRegistro)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UsuarioRegistro)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FechaRegistro)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FechaRegistro)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Estado)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Estado)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Clave)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Clave)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IdRolNavigation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IdRolNavigation.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
