@model WebComputadorasG3.Models.Usuario

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div style="background-color: #68B5B6;">

    <div class="container">
        <h2><br /><br />Detalles de Usuario</h2>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">Nombre</dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Nombre)
            </dd>
            <dt class="col-sm-2">Tipo de Documento</dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.TipoDocumento)
            </dd>
            <dt class="col-sm-2">Número de Documento</dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.NumDocumento)
            </dd>
            <dt class="col-sm-2">Dirección</dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Direccion)
            </dd>
            <dt class="col-sm-2">Teléfono</dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Telefono)
            </dd>
            <dt class="col-sm-2">Email</dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Email)
            </dd>
            <dt class="col-sm-2">Usuario</dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.UsuarioRegistro)
            </dd>
            <dt class="col-sm-2">Fecha de Registro </dt>
            <dd class="col-sm-10">
                @Model.FechaRegistro.ToLongDateString() @Model.FechaRegistro.ToShortTimeString()
            </dd>
            <dt class="col-sm-2">Estado</dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Estado)
            </dd>
            <dt class="col-sm-2">Rol</dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.IdRolNavigation.Nombre)
            </dd>
        </dl>
        <div>
            <a class="btn btn-primary" asp-action="Edit" asp-route-id="@Model.Id">Editar</a> |
            <a asp-action="Index">Volver a la Lista</a>
        </div>
    </div>
</div>